 body{
            background-color: #333;
        }
 .header {
  text-align: center;
  padding: 20px;
}
.nav{
    display: flex;
    justify-content:left;
    align-items: center;
}
.logo {
  width: 100px;
  height: auto;
}

.title {
  margin-top: 15px;
  font-size: 26px;
  color: #fff;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

        .header{
            padding: 0px;
            color: #fff;
            margin: 0 auto;
            margin-bottom:0px;
        }
        .header h1,p{
            text-align: center;
        }

        .wheel{
            display: flex;
            justify-content: center;
            position: relative;
        }
        .center-circle{
            width: 100px;
            height: 100px;
            border-radius: 60px;
            background-color: #fff;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
        .triangle{
            width: 0; 
            height: 0; 
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent; 
            border-right: 30px solid white; 
            position: absolute;
            top: 50%;
            right: -220%;
            transform: translateY(-50%);
        }
        textarea{
            background-color: rgba(20, 20, 20, 0.2);
            caret-color: #fff;
            resize: none;
            color: #fff;
        }
        .inputArea{
            display: flex;
            justify-content: right;
            margin-top: 0px;
        }
.grub{
    display: flex;
    justify-content:space-evenly;
}